## Step 1 - Import Important Modules

* Modules are third-party Python applications
* Load them with `import` statement
    * Like `library` in R
* Almost always to the following

In [3]:
%matplotlib inline # Makes graphs "inline" (inside the notebook)
import pandas as pd #data frames
import numpy as np #numeric data structures/functions

UsageError: unrecognized arguments: # Makes graphs "inline" (inside the notebook)

## Pandas data frames

* Pandas data frames has
    * a type per column
        * `np.float`
        * `np.int`
        * `np.str`
    * Uses `NaN` for `NA`
        * Not a number

## Pandas gotcha

The `np.int` has no `NaN` value, so it is better to use `np.float`,
We make an exception for PATID, as every row has one.

[**Source**](https://stackoverflow.com/questions/21287624/convert-pandas-column-containing-nans-to-dtype-int)

## Reading a `csv` - First attempt
* Is it read correctly?
    * correct data types
    * correct NA/NaN values

## Read csv and inspect the content

In [5]:
conf_target = pd.read_csv("./target/confinement_target.csv")
conf_target.head()

,PATID,CONF_ID,STD_COST,DRG,POS,DIAG1,DIAG2,DIAG3,DIAG4,DIAG5,PROC1,PROC2,PROC3,PROC4,PROC5,DAYS_FROM_DIAG,DISHARGE_DAYS_FROM_DIAG
0,3.300684e+10,ZNNNOR4KO4LO,5957.76,638,21,25013,5849,25063,3572,5363,0.0,0000000,0000000,0000000,0000000,1399,1401
1,3.300684e+10,ZNNNORKKO4LO,4348.48,639,21,25013,3572,25063,5363,2768,0.0,0000000,0000000,0000000,0000000,1442,1442
2,3.300684e+10,ZNNNONMKO4LO,5957.76,637,21,25013,5307,25063,3572,5363,0.0,0000000,0000000,0000000,0000000,1324,1326
3,3.300992e+10,64K4MZ4KO4LR,11744.32,885,21,29650,5990,V6284,3019,2449,0.0,0000000,0000000,0000000,0000000,1401,1408
4,3.301139e+10,RMOLMMZKO4LR,5136.00,775,21,66411,66481,65961,V270,None,7569.0,0000000,0000000,0000000,0000000,1248,1250

## Check the types

In [6]:
conf_target.dtypes

PATID                      float64
CONF_ID                     object
STD_COST                   float64
DRG                         object
POS                          int64
DIAG1                       object
DIAG2                       object
DIAG3                       object
DIAG4                       object
DIAG5                       object
PROC1                      float64
PROC2                       object
PROC3                       object
PROC4                       object
PROC5                       object
DAYS_FROM_DIAG               int64
DISHARGE_DAYS_FROM_DIAG      int64
dtype: object

## Fixing types

* Make a dictionary
    * `{k1:v1, k2:v2, ...}`
    * keys are column names
    * values are numpy types

In [11]:
diag_proc_names = tuple(name + str(num) for name in ("DIAG", "PROC") for num in range(1, 6))
dtype_dict = { 'DAYS_FROM_DIAG':np.float,
               'STD_COST':np.float,
               'DRG':np.str}

In [12]:
conf_target = pd.read_csv("./target/confinement_target.csv", dtype=dtype_dict)
conf_target.head()

,PATID,CONF_ID,STD_COST,DRG,POS,DIAG1,DIAG2,DIAG3,DIAG4,DIAG5,PROC1,PROC2,PROC3,PROC4,PROC5,DAYS_FROM_DIAG,DISHARGE_DAYS_FROM_DIAG
0,3.300684e+10,ZNNNOR4KO4LO,5957.76,638,21,25013,5849,25063,3572,5363,0.0,0000000,0000000,0000000,0000000,1399.0,1401
1,3.300684e+10,ZNNNORKKO4LO,4348.48,639,21,25013,3572,25063,5363,2768,0.0,0000000,0000000,0000000,0000000,1442.0,1442
2,3.300684e+10,ZNNNONMKO4LO,5957.76,637,21,25013,5307,25063,3572,5363,0.0,0000000,0000000,0000000,0000000,1324.0,1326
3,3.300992e+10,64K4MZ4KO4LR,11744.32,885,21,29650,5990,V6284,3019,2449,0.0,0000000,0000000,0000000,0000000,1401.0,1408
4,3.301139e+10,RMOLMMZKO4LR,5136.00,775,21,66411,66481,65961,V270,None,7569.0,0000000,0000000,0000000,0000000,1248.0,1250

In [13]:
conf_target.dtypes

PATID                      float64
CONF_ID                     object
STD_COST                   float64
DRG                         object
POS                          int64
DIAG1                       object
DIAG2                       object
DIAG3                       object
DIAG4                       object
DIAG5                       object
PROC1                      float64
PROC2                       object
PROC3                       object
PROC4                       object
PROC5                       object
DAYS_FROM_DIAG             float64
DISHARGE_DAYS_FROM_DIAG      int64
dtype: object

### <font color="red"> Exercise: Fix the other types </font>

* Make changes in above cells
* All codes should be strings
* PATID should be either int or str
* DISHARGE_DAYS_FROM_DIAG should be ???

## Solution

In [17]:
dtype_dict2 = { 'DAYS_FROM_DIAG':np.float,
               'DISHARGE_DAYS_FROM_DIAG':np.float,
               'STD_COST':np.float,
               'DRG':np.str,
               'DIAG1':np.str,
               'DIAG2':np.str,
               'DIAG3':np.str,
               'DIAG4':np.str,
               'DIAG5':np.str,
               'PROC1':np.str,
               'PROC2':np.str,
               'PROC3':np.str,
               'PROC4':np.str,
               'PROC5':np.str,
               'PATID':np.int}

### Next Step - Find all missing values

* 000000 in DIAG
* None in other columns
* Other things hiding in data
    * 000 in DRG
    * ------ in DIAG

In [18]:
conf_target = pd.read_csv("./target/confinement_target.csv", dtype=dtype_dict2)
conf_target.head()

,PATID,CONF_ID,STD_COST,DRG,POS,DIAG1,DIAG2,DIAG3,DIAG4,DIAG5,PROC1,PROC2,PROC3,PROC4,PROC5,DAYS_FROM_DIAG,DISHARGE_DAYS_FROM_DIAG
0,33006838943,ZNNNOR4KO4LO,5957.76,638,21,25013,5849,25063,3572,5363,0000000,0000000,0000000,0000000,0000000,1399.0,1401.0
1,33006838943,ZNNNORKKO4LO,4348.48,639,21,25013,3572,25063,5363,2768,0000000,0000000,0000000,0000000,0000000,1442.0,1442.0
2,33006838943,ZNNNONMKO4LO,5957.76,637,21,25013,5307,25063,3572,5363,0000000,0000000,0000000,0000000,0000000,1324.0,1326.0
3,33009919850,64K4MZ4KO4LR,11744.32,885,21,29650,5990,V6284,3019,2449,0000000,0000000,0000000,0000000,0000000,1401.0,1408.0
4,33011390196,RMOLMMZKO4LR,5136.00,775,21,66411,66481,65961,V270,None,7569,0000000,0000000,0000000,0000000,1248.0,1250.0

## Solution to weird NAs - Use a list of NA strings

In [19]:
na_strings = ("0000000", "None", "------", "000")

In [20]:
conf_target = pd.read_csv("./target/confinement_target.csv", dtype=dtype_dict, na_values=na_strings)
conf_target.head()

,PATID,CONF_ID,STD_COST,DRG,POS,DIAG1,DIAG2,DIAG3,DIAG4,DIAG5,PROC1,PROC2,PROC3,PROC4,PROC5,DAYS_FROM_DIAG,DISHARGE_DAYS_FROM_DIAG
0,3.300684e+10,ZNNNOR4KO4LO,5957.76,638,21,25013,5849,25063,3572,5363,NaN,NaN,NaN,NaN,NaN,1399.0,1401
1,3.300684e+10,ZNNNORKKO4LO,4348.48,639,21,25013,3572,25063,5363,2768,NaN,NaN,NaN,NaN,NaN,1442.0,1442
2,3.300684e+10,ZNNNONMKO4LO,5957.76,637,21,25013,5307,25063,3572,5363,NaN,NaN,NaN,NaN,NaN,1324.0,1326
3,3.300992e+10,64K4MZ4KO4LR,11744.32,885,21,29650,5990,V6284,3019,2449,NaN,NaN,NaN,NaN,NaN,1401.0,1408
4,3.301139e+10,RMOLMMZKO4LR,5136.00,775,21,66411,66481,65961,V270,NaN,7569.0,NaN,NaN,NaN,NaN,1248.0,1250

In [21]:
conf_training = pd.read_csv("./training/confinement_training.csv", dtype=dtype_dict, na_values=na_strings)
conf_training.head()

,PATID,CONF_ID,STD_COST,DRG,POS,DIAG1,DIAG2,DIAG3,DIAG4,DIAG5,PROC1,PROC2,PROC3,PROC4,PROC5,DAYS_FROM_DIAG,DISHARGE_DAYS_FROM_DIAG
0,3.300379e+10,OZLNMMZKTK4O,3115.08,603,21,6820,6821,25000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,791.0,792.0
1,3.300539e+10,O4RL64MKT4ZT,26875.20,065,21,43491,34290,2724,4011,25002,NaN,NaN,NaN,NaN,NaN,NaN,8.0
2,3.300557e+10,ZTT44K4KLKKZ,18751.56,621,21,27801,V8544,V1251,25000,4019,4439.0,387,NaN,NaN,NaN,77.0,79.0
3,3.300557e+10,ZTTTN6TKLKNZ,14659.20,300,21,9972,45342,45352,5849,27801,NaN,NaN,NaN,NaN,NaN,89.0,95.0
4,3.300615e+10,MKTLOKLKT4ZZ,9162.00,392,21,78901,V4551,78659,53540,27800,4516.0,NaN,NaN,NaN,NaN,355.0,359.0

## What is up with *training* and *target*

Still trying to figure that out ... stay tuned

In [23]:
stacked = pd.concat([conf_target, conf_training])
stacked.head()

,PATID,CONF_ID,STD_COST,DRG,POS,DIAG1,DIAG2,DIAG3,DIAG4,DIAG5,PROC1,PROC2,PROC3,PROC4,PROC5,DAYS_FROM_DIAG,DISHARGE_DAYS_FROM_DIAG
0,3.300684e+10,ZNNNOR4KO4LO,5957.76,638,21,25013,5849,25063,3572,5363,NaN,NaN,NaN,NaN,NaN,1399.0,1401.0
1,3.300684e+10,ZNNNORKKO4LO,4348.48,639,21,25013,3572,25063,5363,2768,NaN,NaN,NaN,NaN,NaN,1442.0,1442.0
2,3.300684e+10,ZNNNONMKO4LO,5957.76,637,21,25013,5307,25063,3572,5363,NaN,NaN,NaN,NaN,NaN,1324.0,1326.0
3,3.300992e+10,64K4MZ4KO4LR,11744.32,885,21,29650,5990,V6284,3019,2449,NaN,NaN,NaN,NaN,NaN,1401.0,1408.0
4,3.301139e+10,RMOLMMZKO4LR,5136.00,775,21,66411,66481,65961,V270,NaN,7569.0,NaN,NaN,NaN,NaN,1248.0,1250.0

## <font color="red"> Homework </font>
1. Now read other tables (medical, rx, lab)
    1. Get the types correct
    2. Look out for more NA strings
2. Concat training and target
3. Write a csv